@media screen and (max-width: 991px) {
    header {
        .navbar{
            padding-top: 17px;
            padding-bottom: 17px;
        }
        .container {
            padding-right: 20px;
            padding-left: 20px;
            .navbar-collapse {
                background: $bg-secondary;
                margin: 0 -20px;
            }
            .navbar-brand {
                width: 126px;
                padding-left: 0;
                margin-bottom: 18px;
            }
        }
        .btn {
            width: 295px;
            height: 68px;
            border-radius: 90px;
            font-size: 16px;
            margin-bottom: 57px;
            &:active {
                background-color: $color-secondary;
            }
        }
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .nav-link {
        font-size: 24px;
        line-height: 53px;
        padding: 0;
        margin-bottom: 11px;
        
    }
    .navbar-nav {
        padding: 36px 0 20px;
    }
}


