.first-screen {
    position: relative;
    .first-screen-slider {
        .container {
            padding-top: 163px;
            padding-bottom: 228px;
        }
        .slick-slide {
            border-radius: 20px;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .slick-dots {
            display: flex;
            flex-direction: row;
            justify-content: center;
            text: none;
        }
        .first-screen-title {
            font-size: 56px;
            font-weight: 700;
            line-height: 71px;
            text-align: left;
            max-width: 463px;
            height: 142px;
            margin-bottom: 8px;
            // top: 277px;
            // left: 390px;
        }
        .first-screen-subtitle {
            font-size: 20px;
            font-weight: 300;
            line-height: 27px;
            text-align: left;
            max-width: 345px;
            height: 54px;
            margin-bottom: 37px;
            // top: 427px;
            // left: 390px;
        }
    }
    .first-screen-nav {
        display: flex;
        max-width: 1523px;
        height: 46px;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .slick-arrow {
            // height: 46px;
            border: none;
            color: transparent;
            background: center transparent no-repeat;
            background-image: url(./assets/img/first-scr-arrow.svg);
        }
        [type= "button"] {
        transform: rotate(180deg);
        &:hover,
        &:active {
            background-image: url(../assets/img/first-scr-arrow-active.svg);
        }
        
        }

    }
}

