::selection {
    background-color: $color-secondary;
}

body {
    font-family: 'Proxima Nova';
    background-color: $bg-primary;
    color: $text-color;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 700;
    line-height: 126%;
}

h1,
.h1 {
    font-size: 56px;
}

h2,
.h2 {
    font-size: 36px;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 22px;
}

h5,
.h5 {
    font-size: 20px;
}

h6,
.h6 {
    font-size: 18px;
}

.container {
    max-width: 1170px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

.container-xxl {
    max-width: 1820px; /*or 1850px???? =)*/
    color: $text-color;
}

.wf-300 {
    font-weight: 300;
}

.wf-400 {
    font-weight: 400;
}

.wf-600 {
    font-weight: 600;
}

.wf-700 {
    font-weight: 700;
}

.check-button {
    margin-bottom: 6px;
    padding-left: 2px;
}
.btn {
    width: 171px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    border-radius: 90px;
}
.btn-primary {
    background-color: $color-primary;
    border-color: $color-primary;
    &:hover,
    &:active {
        background-color: $color-secondary;
        border-color: $color-secondary;
    }
}
.btn-lg {
    width: 293px;
    height: 68px;
    position: relative;
    top: 0;
    left: 0;
    padding: 19.6px 34px;
    font-size: 16px;
    text-align: left;
    .icon {
        width: 27px;
        height: 27px;
        position: absolute;
        top: 18px;
        left: 241px;
        padding: 0.42px;
    }
}