<section class="first-screen">
    <div class="container-xxl">
        <div class="first-screen-slider">
            <div class="slick-slide" style="background-image: url(assets/img/slider-1.png);">
                <div class="container">
                    <div class="first-screen-title">ПРЯМОЕ КАРГО ИЗ КИТАЯ</div>
                    <div class="first-screen-subtitle">Доставляем любые грузы из Китая по честной цене</div>
                    <a href="#calculation" class="btn btn-primary btn-lg" type="button">Paccчитать стоимость <img src="assets/img/arrow-circle-icon.svg" class="icon" alt="icon"></a>
                </div>
            </div>
            <div class="slick-slide" style="background-image: url(assets/img/slider-2.png);">
                <div class="container">
                    <div class="first-screen-title">ВЫКУП ТОВАРА С ТАОБАО, 1688</div>
                    <div class="first-screen-subtitle">Выкуп и доставка товаров с китайских торговых площадок.</div>
                    <a href="#calculation" class="btn btn-primary btn-lg" type="button">Paccчитать стоимость <img src="assets/img/arrow-circle-icon.svg" class="icon" alt="icon"></a>
                </div>
            </div>
            <div class="slick-slide" style="background-image: url(assets/img/slider-3.png);">
                <div class="container">
                    <div class="first-screen-title first-screen-title-slide">ЭКСПРЕСС АВТО ДОСТАВКА</div>
                    <a href="#calculation" class="btn btn-primary btn-lg" type="button">Paccчитать стоимость <img src="assets/img/arrow-circle-icon.svg" class="icon" alt="icon"></a>
                </div>
            </div>
            <div class="slick-slide" style="background-image: url(assets/img/slider-4.png);">
                <div class="container">
                    <div class="first-screen-title first-screen-title-slide">ПОЛНОЕ СОПРОВОЖДЕНИЕ</div>
                    <a href="#calculation" class="btn btn-primary btn-lg" type="button">Paccчитать стоимость <img src="assets/img/arrow-circle-icon.svg" class="icon" alt="icon"></a>
                </div>
            </div>
        </div>
        <div class="first-screen-nav"></div>
    </div>
</section>