<section class="first-screen">
    <div class="container-xxl">
        <div class="first-screen-slider">
            <div class="slick-slide" style="background-image: url(assets/img/slider-1.png);">
                <div class="container">
                    <div class="first-screen-title">ПРЯМОЕ КАРГО из Китая</div>
                    <div class="first-screen-subtitle">Доставляем любые грузы из Китая по честной цене</div>
                    <a href="#calculation" class="btn btn-primary btn-lg" type="button">Paccчитать стоимость <img src="assets/img/arrow-circle-icon.svg" class="icon" alt="icon"></a>
                </div>
            </div>
            <div class="slick-slide" style="background-image: url(assets/img/slider-2.png);">
                <div class="container">
                    <div class="first-screen-title"></div>
                    <div class="first-screen-subtitle"></div>
                    <a href="#calculation" class="btn btn-primary btn-lg" type="button">Paccчитать стоимость <img src="assets/img/arrow-circle-icon.svg" class="icon" alt="icon"></a>
                </div>
            </div>
            <div class="slick-slide" style="background-image: url(assets/img/slider-3.png);">
                your content 3
            </div>
            <div class="slick-slide" style="background-image: url(assets/img/slider-4.png);">
                your content 4
            </div>
        </div>
        <div class="first-screen-nav"></div>
    </div>
</section>