<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson-22</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
    <div class="form-wrapper">
        <div class="color-container" style="color: rgb(101, 101, 147);">Lorem ipsum dolor sit amet.</div>
        <div class="color-container-2" style="color: rgb(152, 120, 110);">Lorem ipsum dolor sit amet.</div>
        <!-- <div class="color-container-3" style="color: rgb(106, 151, 120);">Lorem ipsum dolor sit amet.</div> -->
        <form class="form-color">
            <input type="text" class="color-input" value="1234" placeholder="Введите свой любимый цвет">
            <button type="button" class="btn-1">Отправить</button>
        </form>
    </div>
    <!-- <script src="assets/js/jquery-3.7.1.min.js"></script> -->
    <script src="assets/js/vanilla.js"></script>
</body>
</html>